@media (max-width: 1000px) {
    .navigation {
        display: none;
    }
    .burger {
        display: block;
    }
}
    
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .text-wraper,
    .right-block {
        margin-top: 30px;
    }
    }
}
