/* header */
.header-bg {
    background-image: url(../images/bg.jpg);
    height: 324px;
    /* width: 1366px; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding-top: 32px;
    position: relative;
}
.navigation-wraper {
    display: flex;
    justify-content: space-between;
}
.logo,
.nav-a {
    color: #FFFFFF;
}
.logo {
    font-size: 14px;
    font-weight: bold;
    margin-left: 139px;
  
}
.nav-a {
    font-size: 12px;
    text-transform: uppercase;
}
.active {
    color: #5863F8;
}
.nav-ul {
    display: flex;
}
.nav-ul li {
    margin-right: 50px;
}
.title-header {
    position: absolute;
    margin-top: 145px;
    margin-left: 139px;
    font-size: 42px;
    color: #FFFFFF;
}
.fa-bars {
    color: aliceblue;
    font-size: 30px;
}
.burger {
    display: none;
}

/* section-1 */
.container {
    display: flex;
    justify-content: space-around;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;  
}

.button {
    background-color: #5863F8;
    height: 50px;
    width: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 19px;
}
.text {
    color: #5863F8;
    font-size: 14px;
    margin-bottom: 3px;
}

.title-text {
    max-width: 306px;
    width: 100%;
    height: 112px;
    font-size: 42px;
}
.text-1, 
.text-2 {
    font-size: 14px;
    margin-bottom: 20px;
}
 .text-wraper {
    max-width: 444px;
    width: 100%;
    height: 388px;
    margin-top: 128px;
 }

 .right-block {
     max-width: 536px;
     width: 100%;
     height: 461px;
     margin-top: 90px;
     margin-bottom: 90px;
 }
 .image-wraper {
     display: flex;
     justify-content: space-between;
     margin-bottom: 16px;
    
 }
 .left-image,
 .right-image {
     max-width: 260px;
     width: 100%;
 }
 .center-image {
     max-width: 536px;
     width: 100%;
 }
 .center-img {
     width: 100%;
 }
 .container2 {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}
.section2-title1 {
    color: #5863F8;
    font-size: 14px;
    margin-left: 40px;
    
    
}
.section2-title2 {
    color: #FFFFFF;
    font-size: 42px;
    max-width: 360px;
    width: 100%;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.section-bg {
    background-image: url(../images/banner.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
}
  
.block-1 {
    width: 260px;
    height: 260px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image2-wraper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.image2-wraper h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    width: 160px;
}
.image2-wraper p {
    color: #B1B1B1;
    font-size: 14px;
}
.icon-block {
    width: 59px;
    height: 59px;
    background-color: #5863F8;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-1 p {
    width: 220px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 26px;
}

.section2-text {
    max-width: 332px;
    width: 100%;
}

